doctype html
html
  head
    title Express Validator
    
    style.
      nav {
        margin-bottom: 20px;
      }
  body
    h1 Express Validator
    h3 HEADER
    block content
    script(src="https://code.jquery.com/jquery.js")
    script(src="/javascripts/script.js")
  h1 Footer
