
<html>
    <body>
        <h1>login</h1>
        <form action="/login" method="POST">
            <!-- username <input type="text" name="user"><br>
            password <input type="password" name="pass"><br> -->
            Name <input type="text" name="name"><br>
            Address <input type="text" name="address"><br>
            <button type="submit">Login</button>
        </form>
    </body>
</html>
